{{define "@macro.mycli" -}}
cli:"{{.Name}}"
    commands
{{- range .Body}}
        command:{{.Name}} short:"command {{.Name}}" 
            desc `command {{.Name}} auto generated`
{{- end}}
    options
{{- end}}